@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c0c5ff;
}

#root {
  height: 90vh;
}

body {
  background-color: var(--background);
  font-family: 'Schibsted Grotesk Variable', sans-serif;
}